.sidebar_wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    box-shadow: 0 0 10px var(--color-gray-secondary);
    border-radius: 0 10px 40px 38px;
    min-width: 110px;

    .sidebar_link__wrapper {
        display: flex;
        justify-content: center;
    }

    .logo_wrapper {
        background: var(--color-white-bg);
        padding: 30px 20px;
        display: flex;
        justify-content: center;
    }

    .links_wrapper {
        background: var(--color-white-bg);
        height: 100%;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
    }

    .logout_wrapper {
        position: relative;
        margin: auto auto 0;
    }
}
