.upload_course__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    .select__wrapper {
        padding-inline: 10px;

        .select,
        .select_option {
            background: transparent;
            border: 1px solid var(--color-violet-primary);
            border-radius: var(--border-radius-md);
            height: 44px;
            outline: none;
            width: 100%;
            color: var(--color-violet-primary);
            font-weight: 600;
        }
    }
}
