.link__sectionWrapper {
    margin: 0 auto;
    position: relative;
    width: 64px;
    height: 85px;

    .link__sectionBackground {
        position: absolute;
        cursor: pointer;
        bottom: -35px;
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-white-bg);
        border-radius: 60px;
        width: 64px;
        height: 75px;

        .link__section {
            position: absolute;
            bottom: -8px;
            left: 5px;
            cursor: pointer;
            background: var(--color-white-bg);
            box-shadow: 0 0 10px rgb(0 0 0 / 25%);
            border-radius: 60px;
            width: 54px;
            height: 78px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.15, 1.1);
            }
        }
    }

    .border__link {
        width: max-content;
        position: absolute;
        right: -11px;
        top: 35px;

        .border__linkIcon {
            animation: 2s infinite linear ripple-border;
        }
    }
}

@keyframes ripple-border {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}
