.link_back {
    display: flex;
    align-items: self-start;
    cursor: pointer;
    color: var(--color-black-bg);
    margin: 0 0 15px;
    transition: all .3s;

    &:hover {
        color: var(--color-black-light);
    }

    .back_icon {
        transform: scale(-1, 1);
    }
}

.course__name {
    margin: 0 0 10px;
}

.course__description {
    margin: 0 0 20px;
}

.link {
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: underline;
    width: max-content;

    &:hover {
        color: var(--color-gray-primary);
    }
}

.links__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 10px;
}

.course__content {
    display: flex;
    flex-direction: column;
}

.themes__list_title {
    margin: 0 0 15px;
}



