.course__name {
    margin: 0 0 10px;
}

.course__description {
    margin: 0 0 20px;
}

.link {
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: underline;
    width: max-content;

    &:hover {
        color: var(--color-gray-primary);
    }
}

.links__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 0 10px;
}

.course__content {
    display: flex;
    flex-direction: column;
}

.themes__list_title {
    margin: 0 0 15px;
}

.topics__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
    grid-gap: 10px;
}

.topic__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    gap: 15px;
    border: 1px solid var(--color-violet-primary);

    .topic__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .delete_topic__btn {
            cursor: pointer;
            color: var(--color-red-primary);
        }
    }
}

.add_topic__wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    width: 270px;
    min-height: 100px;
    height: auto;
    color: var(--color-black-bg);

    &:hover {
        background: var(--color-violet-primary);
        color: var(--color-white-bg);
    }
}


