.lesson__additional {
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 24px;

    .color__part {
        color: var(--color-violet-primary);
    }
}
