.add_topic__wrapper {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px #E1E4ED;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;
  width: 270px;
  min-height: 100px;
  height: auto;
  color: var(--color-black-bg);

  &:hover {
    background: var(--color-violet-primary);
    color: var(--color-white-bg);
  }
}
