.notification {
    position: relative;

    .notification__toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        cursor: pointer;
        transition: all 0.3s;

        &[aria-expanded="false"] {
            background: #1f2535;
            border-radius: var(--border-radius-md);
        }

        &[aria-expanded="true"] {
            background: #262c3f;
            border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
        }
    }

    .notification__body__container {
        .notification__body {
            &[aria-expanded="false"] {

            }

            &[aria-expanded="true"] {

            }
        }
    }
}
