.app_link {
    transition: 0.2s ease;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.primary {
    color: var(--color-primary-white);

    &:hover {
        color: var(--color-primary-gold);
    }
}

.secondary {
    color: var(--color-violet-primary);
    transition: all .3s;

    &:hover {
        color: var(--color-violet-secondary);
    }
}

.red {
    color: red;
}

.active {
    color: var(--color-primary-gold);
}
