.lessons__sectionTitle {
    margin: 0 0 155px;
    text-align: center;

    h1 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 64px;
        line-height: 72px;
        color: var(--color-gray-primary);

        span {
            color: var(--color-violet-primary);
        }
    }
}
