.auth__wrapper {
    max-width: 270px;
    margin: 0 auto;
}

.user_info {
    width: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 0 40px;

    .top_info_part {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .other__info {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .info_item {
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}
