.icons__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 40px;

    .icon {
        border: 1px solid #cbcbcb;
        border-radius: 20px;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        &.first {
            padding: 0 0 0 11px;
        }

        &.second {
            padding: 0 0 0 25px;
        }
    }
}
