.comments__wrapper {
    text-align: left;
    border-radius: 5px;

    .comments__title {
        margin: 0 0 20px;
    }

    .comment:not(:last-child) {
        margin: 0 0 20px;
    }

    .comment_item__wrapper {
        margin: 0 0 15px;
    }

    .comment__header {
        display: flex;
        flex-direction: column;
    }

    .answers__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .answer__title {
        margin: 0 0 10px;
    }
}
