.comments__wrapper {
    text-align: left;
    border-radius: 5px;

    .comments__title {
        margin: 0 0 20px;
    }

    .comment {
        margin: 0 0 20px;
    }

    .comment_item__wrapper {
        margin: 0 0 15px;
    }

    .comment__header {
        display: flex;
        flex-direction: column;
    }

    .answer__btn {
        width: max-content;
        cursor: pointer;
        transition: all 0.3s;
        color: var(--color-black-bg);

        &:hover {
            color: var(--color-violet-primary);
        }
    }

    .answers__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .answer__title {
        margin: 0 0 10px;
    }

    .answer__wrapper {
        padding: 0 0 0 20px;
        border-radius: 7px;

        .answer__header {
            display: flex;
            align-items: flex-start;
            gap: 10px;
        }
    }
}
