.courses__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
    grid-auto-flow: row;

    .course__wrapper {
        padding: 0 15px;
        height: 150px;
        width: 340px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        scale: 0.9;
        background: linear-gradient(65.4deg, rgb(56, 248, 249) -9.1%, rgb(213, 141, 240) 48%, rgb(249, 56, 152) 111.1%);
        color: var(--color-black-bg);
        transition: all 0.2s;
        z-index: 9999;

        &:hover {
            scale: 1;
            border-radius: 15px;
        }
    }
}
