.courses__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
    grid-auto-flow: row;

    .course__wrapper {
        padding: 0 15px;
        height: 150px;
        width: 340px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        background: linear-gradient(106.72deg, #9b53c8 -19.79%, rgb(53 30 67 / 44%) 99.91%);
        transition: all 0.2s;
        z-index: 9999;

        &:hover {
            border-radius: 15px;
            background: linear-gradient(rgb(53 30 67 / 44%) 99.91%, 106.72deg, #9b53c8 -19.79%);
        }
    }
}
