.popup__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-100px);
  transition: all .3s;
  width: 300px;
  padding: 10px;
  background: rgb(193 227 193);
  border-radius: 5px;
  top: 10px;
  right: 50%;
  left: 50%;

  &.active {
    transform: translateY(0);
  }

  .popup_content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-gray-primary);
  }

  .popup_close {
    cursor: pointer;
    transform: rotate(45deg);
  }
}
